body{
    background-color:#474747;
    display: block;
    width: 50%;
    margin:auto;
    color:azure;
  }
  .options{
    height:50px;
    width:50px;
    background-color:#AD343E;
    color:cornflowerblue;
    border:2px solid black;
    border-radius: 50%;
    font-size: xx-large;
    
  }
  #opt{
    display: flex;
    position: relative;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    justify-content: space-around;
    margin-left: 50px;;
  }
  #compcnt{
    height: 30px;
    width:100px;
    background-color:#C76D7E;
    color:white;
    padding-top:10px;
    padding-left: 20px;
    font-size: x-large;
   
  }
  #usercnt{
    height: 30px;
    width:100px;
    background-color:#C76D7E;
    font-size: x-large;
    color:white;
    padding-top:10px;
    padding-left: 20px;
  }
  .count{
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-around;
    margin-top: 150px;
    margin-left: 50px;
    
  }
  #msgbox{
    color:#C76D7E;
    font-size: xx-large;
    margin-top: 20px;
    
  }
  #display{
    font-size: xx-large;
    margin-top: 100px;
    color:chartreuse;
    
  }
  #displayc{
    font-size: xx-large;
    margin-top: 20px;
    color:mediumorchid;
    
  }
  #resetbtn{
    margin-left: 250px;
    margin-top:20px;
    background-color: aquamarine;
    font-size: large;

  }